[Unit]
Description=Livre d'or audio
After=sound.target

[Service]
ExecStart=/home/julien/livre-dor/target/release/server
Restart=always
RestartSec=5
User=julien
WorkingDirectory=/home/julien/livre-dor
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
